RAW_DB_HOST=localhost
RAW_DB_PORT=5432
RAW_DB_NAME=db_raw
RAW_DB_USER=postgres
RAW_DB_PASSWORD=123

ANALYTICS_DB_HOST=localhost
ANALYTICS_DB_PORT=5432
ANALYTICS_DB_NAME=analytics
ANALYTICS_DB_USER=postgres
ANALYTICS_DB_PASSWORD=123